{% extends './shared/base.html' %}
{% block title %}صفحه ورود{% endblock %}
{% block content %}
<div>
 
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="custom-alert">
        <ul class="flashes">
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        </div>
    {% endif %}
{% endwith %}

<div class="container tm-mt-big tm-mb-big">
  <div class="row">
    <div class="col-6 mx-auto tm-login-col">
      <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
        <div class="row">
          <div class="col-12 text-center">
            <h2 class="tm-block-title mb-4">{{translations['welcome_login']}}</h2>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-12">
            <form method="post" class="tm-login-form">
              <div class="form-group">
                <label for="username" class="farsi-user-pass-title">{{translations['firstname']}}</label>
                <input
                  name="firstname"
                  type="text"
                  class="form-control validate"
                  id="username"

                  required
                />
              </div>

              <div class="form-group">
                <label for="username" class="farsi-user-pass-title">{{translations['lastname']}}</label>
                <input
                  name="lastname"
                  type="text"
                  class="form-control validate"
                  id="username"

                  required
                />
              </div>

              <div class="form-group">
                <label for="email" class="farsi-user-pass-title">{{translations['email']}}</label>
                <input
                  name="email"
                  type="text"
                  class="form-control validate"
                  id="email"

                  required
                />
              </div>

              <div class="form-group mt-3">
                <label for="password" class="farsi-user-pass-title">{{translations['password']}}</label>
                <input
                  name="password"
                  type="password"
                  class="form-control validate"
                  id="password"

                  required
                />
              </div>
              <div class="form-group mt-4">
                <button
                  name = "sign_in"
                  type="submit"
                  class="btn btn-success btn-block text-uppercase"
                >
                  {{translations['login']}}
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <a href="{{url_for('signup')}}" class="btn btn-link text-white">
        {{translations['dont_have_account']}}<b>{{translations['please_signup']}}</b>
      </a>
    </div>
  </div>
</div>
{% endblock %}

{% block exteraStyles %}
  {% if translations['language']=="fa" %}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/farsi-specifics.css') }}" /> 
  {% endif %}
{% endblock %}
{% block exteraScripts %}
    <script src="{{ url_for('static',filename='js/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
    <script>
      document.addEventListener('DOMContentLoaded', function() {
          const alertBox = document.querySelector('.custom-alert');
          if (alertBox) {
              setTimeout(() => {
                  alertBox.classList.add('fade-out');
              }, 500);
  
              setTimeout(() => {
                  alertBox.style.display = 'none';
              }, 1500);
          }
      });
  </script>
{% endblock %}