<nav class="bg">
    <ul class="hideOnMobile">
        <li><a href="/home">صفحه اصلی</a></li>
        <li><a href="/sign-up">ثبت نام</a></li>
        <li><a href="/login">ورود</a></li>
        <li><a href="#">وبلاگ</a></li>
        <li><a href="#">درباره ما </a></li>
        <li><a href="#">دوره ها</a></li>
        <li class= "menuButton" onclick="showSidebar()"><a href="#"><img src="./../../static/img/menu.svg"></a></li>
    </ul>
    <ul class="sidebar">
        <li onclick="hideSidebar()"><a herf="#"><img src="./../../static/img/close.svg"></a></li>
        <li class= ""><a herf="#">صفحه اصلی</a></li>
        <li ><a href="#">ثبت نام</a></li>
        <li ><a href="#">ورود</a></li>
        <li ><a href="#">وبلاگ</a></li>
        <li ><a href="#">درباره ما </a></li>
        <li ><a href="#">دوره ها</a></li>
    </ul>
</nav>